# Tarefa

- 1 - Ler os dados
- 2 - Dividir os dados em treino e teste (70/30)
- 3 - Criar função de custo
- 4 - Criar função de avaliação
- 5 - Inicializar os Betas com Valores aleatórios
- 6 - Criar a função da Descida do Gradiente
- 7 - Avaliação do conjunto de testes (predições)
- 8 - Calcular RSME

In [15]:
import matplotlib.pyplot as plt
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

## STEP 1 - Ler os dados

In [16]:
df = pd.read_csv("regression_dataset.csv")
df

,profit,morning,after_noon,night,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,...,March,April,May,June,July,August,September,October,November,December
0,0.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.60,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234000,0.15,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234001,1.20,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234002,0.30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234003,1.30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234004,1.30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

## STEP 2- Dividir os dados em treino e teste (70/30)

In [17]:
y_data = df["profit"]
y_data

0         0.90
1         3.60
2         2.40
3         1.15
4         6.00
          ...
234000    0.15
234001    1.20
234002    0.30
234003    1.30
234004    1.30
Name: profit, Length: 234005, dtype: float64

In [18]:
x_data = df.drop(columns=["profit"])
x_data

,morning,after_noon,night,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday,...,March,April,May,June,July,August,September,October,November,December
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234000,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234001,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234002,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234003,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234004,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [19]:
x_train, x_test, y_train, y_test = train_test_split(x_data, y_data, train_size=0.7)

## STEP 3 - Criar função de custo

O código define a função `calc_costs`, que calcula a função de custo para uma regressão linear múltipla. Essa função de custo é comumente usada em algoritmos de aprendizado de máquina para otimizar os parâmetros de um modelo de regressão.

### Explicação do código

1. **Função de Custo**: A função de custo para regressão linear é baseada no erro quadrático médio. O objetivo é encontrar os parâmetros que minimizam a diferença entre as previsões do modelo e os valores reais do conjunto de dados.

    <code>J(θ) = (1 / 2m) * Σ (previsão<sub>i</sub> - y<sub>i</sub>)<sup>2</sup></code>

   Aqui:
   - \( m \) é o número de exemplos de treinamento.
   - \( \text{previsão}_i \) é o valor previsto pelo modelo para o exemplo \( i \).
   - \( y_i \) é o valor real para o exemplo \( i \).

2. **Parâmetros da Função**:
   - `X`: É uma matriz `m x n` onde cada linha representa um exemplo de treinamento e cada coluna representa uma característica (ou variável independente).
   - `y`: É um vetor de valores reais, com tamanho `m`.
   - `theta`: É um vetor de parâmetros (ou pesos), com tamanho `n`, que o modelo ajustará para minimizar o erro.

3. **Passos dentro da função**:
   - `m = len(y)`: Calcula o número de exemplos de treinamento.
   - `predictions = X.dot(theta)`: Realiza a multiplicação de matriz `X` por `theta`, resultando nas previsões do modelo para cada exemplo.
   - `errors = predictions - y`: Calcula a diferença (erro) entre as previsões e os valores reais.
   - `cost = (1 / (2 * m)) * sum(errors ** 2)`: Calcula o custo médio dos erros quadráticos. A divisão por \(2m\) é uma convenção para simplificar a derivada durante a otimização.

4. **Exemplo de Uso**:
   - `X = np.array([[1, 2], [1, 3], [1, 4], [1, 5]])`: Matriz de características, onde a primeira coluna representa o termo de bias (com valores iguais a 1) e a segunda coluna é a característica.
   - `y = np.array([7, 6, 5, 4])`: Valores reais para cada exemplo.
   - `theta = np.array([0.1, 0.2])`: Vetor de parâmetros iniciais.

5. **Resultado**:
   - `cost = calc_costs(X, y, theta)`: Calcula o custo com os valores atuais de `theta`.
   - `print(cost)`: Exibe o custo calculado, que indica o quão bem os parâmetros atuais se ajustam aos dados. Quanto menor o valor do custo, melhor o modelo se ajusta aos dados.

Este cálculo é útil principalmente em algoritmos de aprendizado de máquina como o gradiente descendente, onde o objetivo é minimizar o custo ajustando `theta`.

In [20]:
def mean_squared_error(errors: np.ndarray) -> float:
    """
    Calcula o erro quadrático médio (MSE).
    
    Parâmetros:
    errors : array-like
        Vetor de erros, que é a diferença entre as previsões e os valores reais.
        
    Retorna:
    float
        O valor do MSE.
    """
    m = len(errors)  # Tamanho do conjunto
    mse = (1 / (2 * m)) * sum(errors ** 2)  # Calcula o erro quadrático médio
    return mse

In [21]:
def calc_costs(X:np.ndarray, y:list, theta:list):
    """
    Calcula a função de custo para a regressão linear múltipla.

    Parâmetros:
    X : array-like, shape (m, n)
        Matriz de características, onde m é o número de exemplos e n é o número de características.
    y : array-like, shape (m,)
        Vetor de valores reais.
    theta : array-like, shape (n,)
        Vetor de parâmetros.

    Retorna:
    float
        O valor da função de custo.
    """
    predictions = X.dot(theta)  # Calcula as previsões realizando a multiplicação de matriz entre X e theta
    errors = predictions - y  # Calcula os erros subtraindo a predição do valor real, quanto mais perto de zero, melhor
    cost = mean_squared_error(errors)  # Calcula o custo
    return cost


# # Exemplo de dados
# X = np.array([[1, 2], [1, 3], [1, 4], [1, 5]])  # Adicionando uma coluna de 1s para o termo de bias
# y = np.array([7, 6, 5, 4])
# theta = np.array([0.1, 0.2])

# # Calculando o custo
# cost = calc_costs(X, y, theta)
# print(cost)

## Step 4 - Criar função de avaliação

In [22]:
def my_mrse(pred_y: list, y_test:list):
    erro = 0

    for i in range(len(pred_y)):

        erro += (pred_y[i] - y_test[i]) ** 2

    erro = (erro/len(pred_y)) ** 0.5
    return erro

## STEP 5: Inicializar os Betas com Valores aleatórios

In [28]:
def initialize_theta(n: int):
    """
    Inicializa os parâmetros theta com valores aleatórios.

    Parâmetros:
    n : int
        Número de características (incluindo o termo de bias).

    Retorna:
    numpy.ndarray
        Vetor de parâmetros inicializados aleatoriamente.
    """
    np.random.seed(42)  # Definindo uma seed para reprodutibilidade (A escolha do número 42 como seed para a geração de números aleatórios é uma referência cultural popular. O número 42 é conhecido como "a resposta para a vida, o universo e tudo mais" no livro "O Guia do Mochileiro das Galáxias" de Douglas Adams. É uma escolha comum entre programadores e cientistas de dados por causa dessa referência. No entanto, a escolha do número 42 é arbitrária e qualquer outro número poderia ser usado como seed. O importante é que definir uma seed garante que a sequência de números aleatórios gerados seja a mesma a cada execução do código, o que é útil para reprodutibilidade e depuração.)
    theta = np.random.rand(n)
    return theta
# Exemplo de uso
# num_features = 3  # Supondo que temos 2 características + 1 termo de bias
# theta = initialize_theta(num_features)
# print(theta)

## STEP 6: Criar a função da Descida do Gradiente

In [24]:
def gradient_descent(X:np.ndarray, y:list, theta:list, alpha:float, num_iters: int = 1000):
    """
    Realiza a descida do gradiente para ajustar os parâmetros theta.

    Parâmetros:
    X : array-like, shape (m, n)
        Matriz de características, onde m é o número de exemplos e n é o número de características.
    y : array-like, shape (m,)
        Vetor de valores reais (nossos alvos, vulgo targets).
    theta : array-like, shape (n,)
        Vetor de parâmetros (nossos betas obtidos da funcao de gerar betas).
    alpha : float
        Taxa de aprendizado. (podemos usar 0.1, 0.01, 0.001 e assim por diante)
    num_iters : int
        Número de iterações (geralmente 1000).

    Retorna:
    numpy.ndarray
        Vetor de parâmetros ajustados.
    list
        Histórico dos valores da função de custo.
    """
    m = len(y)  # Número de exemplos de treinamento
    cost_history = []
    

    for _ in range(num_iters):
        predictions = X.dot(theta)  # Calcula as previsões
        errors = predictions - y  # Calcula os erros
        gradient = (1 / m) * X.T.dot(errors)  # Calcula o gradiente
        theta = theta - alpha * gradient  # Atualiza os parâmetros
        
        # Calcula e armazena o valor da função de custo
        cost = (1 / (2 * m)) * sum(errors ** 2)
        cost_history.append(cost)

    return theta, cost_history

# # Exemplo de uso
# X = np.array([[1, 2], [1, 3], [1, 4], [1, 5]])  # Adicionando uma coluna de 1s para o termo de bias
# y = np.array([7, 6, 5, 4])
# num_features = X.shape[1]
# theta = initialize_theta(num_features)
# alpha = 0.01
# num_iters = 1000

# # Realizando a descida do gradiente
# theta, cost_history = gradient_descent(X, y, theta, alpha, num_iters)
# print("Parâmetros ajustados:", theta)
# print("Histórico de custo:", cost_history[-10:])  # Mostrando os últimos 10 valores do custo

## STEP 7 - Avaliação do conjunto de testes (predições)

In [25]:
def predicts(x:np.ndarray, theta:list):
    """
    Realiza previsões com base nos parâmetros theta ajustados.

    Parâmetros:
    X : array-like, shape (m, n)
        Matriz de características, onde m é o número de exemplos e n é o número de características.
    theta : array-like, shape (n,)
        Vetor de parâmetros ajustados.

    Retorna:
    numpy.ndarray
        Vetor de previsões.
    """
    predictions = x.dot(theta)  # Calcula as previsões
    return predictions

In [33]:
betas = initialize_theta(x_train.shape[1])
alpha = 0.01
num_iters = 1000
betas, cost_history = gradient_descent(x_train, y_train, betas, alpha, num_iters)

predictions = predicts(x_test,betas)

## STEP 8 - Calcular RMSE

In [34]:
predictions = predictions.tolist()
y_test = y_test.tolist()

In [35]:
mse = my_mrse(predictions, y_test)
print("MRSE:", mse)

MRSE: 2.5491834288036297