# Regras

- Pegar uma caracteristica para usar e outra para ser alvo
- Dividir o conjunto entre treino (70%) e  teste (30%)
- Fazer o teste
    - y_pred = b0 + bix
- Avaliar os resultados
    RMSE

## Etapa 1 - Definir Target e Character

In [26]:
import numpy as np
import pandas as pd

In [27]:
df = pd.read_csv("regression_dataset.csv")
df

,profit,morning,after_noon,night,Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,...,March,April,May,June,July,August,September,October,November,December
0,0.90,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,3.60,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,2.40,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,1.15,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,6.00,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
234000,0.15,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234001,1.20,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234002,0.30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234003,1.30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0
234004,1.30,0.0,0.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0

In [28]:
aux = pd.read_csv("dataset.csv")
aux

,Unnamed: 0,date,time,ticket_number,article,Quantity,unit_price
0,0,2021-01-02,08:38,150040.0,BAGUETTE,1.0,"0,90 €"
1,1,2021-01-02,08:38,150040.0,PAIN AU CHOCOLAT,3.0,"1,20 €"
2,4,2021-01-02,09:14,150041.0,PAIN AU CHOCOLAT,2.0,"1,20 €"
3,5,2021-01-02,09:14,150041.0,PAIN,1.0,"1,15 €"
4,8,2021-01-02,09:25,150042.0,TRADITIONAL BAGUETTE,5.0,"1,20 €"
...,...,...,...,...,...,...,...
234000,511387,2022-09-30,18:52,288911.0,COUPE,1.0,"0,15 €"
234001,511388,2022-09-30,18:52,288911.0,BOULE 200G,1.0,"1,20 €"
234002,511389,2022-09-30,18:52,288911.0,COUPE,2.0,"0,15 €"
234003,511392,2022-09-30,18:55,288912.0,TRADITIONAL BAGUETTE,1.0,"1,30 €"
234004,511395,2022-09-30,18:56,288913.0,TRADITIONAL BAGUETTE,1.0,"1,30 €"

In [29]:
target = df["profit"]
target

0         0.90
1         3.60
2         2.40
3         1.15
4         6.00
          ...
234000    0.15
234001    1.20
234002    0.30
234003    1.30
234004    1.30
Name: profit, Length: 234005, dtype: float64

In [30]:
aux["unit_price"] = aux["unit_price"].apply(lambda x: float(x.replace("€", "").replace(",", ".")))
character = aux["unit_price"]
character

0         0.90
1         1.20
2         1.20
3         1.15
4         1.20
          ...
234000    0.15
234001    1.20
234002    0.15
234003    1.30
234004    1.30
Name: unit_price, Length: 234005, dtype: float64

In [31]:
def my_sum(array: list) -> int | float:
    value = 0

    for number in array:
        value += number

    return value

In [32]:
def my_mean(array: list) -> float:
    
    mean = my_sum(array)

    mean = mean/len(array)

    return mean

In [33]:
def calc_beta_one(character: np.ndarray, target: np.ndarray) -> float:
    x = character
    y = target
    x_mean = my_mean(x)
    y_mean = my_mean(y)

    x_y = (x - x_mean) * (y - y_mean)
    x_x = (x - x_mean) ** 2

    beta_one = my_sum(x_y) / my_sum(x_x)
    return beta_one

In [34]:
def calc_beta_zero(mean_y: float, beta_one, mean_x: float) -> float:
    """
    Cacula Beta Zero

    - Args:
        - mean_y:: Media dos valores da coluna alvo
        - beta_one:: Coeficiente angular
        - mean_x:: Media dos valores da coluna caracteristica
    """

    return mean_y - beta_one * mean_x

In [35]:
x, y = np.array(character), np.array(target)
beta_one = calc_beta_one(x, y)
beta_one

np.float64(1.0562236123693485)

In [36]:
beta_zero = calc_beta_zero(
    mean_y=my_mean(np.array(target)),
    beta_one=beta_one,
    mean_x=my_mean(np.array(character))
)
beta_zero

np.float64(0.631653942623946)

# Etapa 2 - Dividir a Base em 70 - 30

In [37]:
all_values = len(target)
all_values

234005

## 2-1 Dividindo a Base em 70 - 30

In [38]:
num_train = int(
    round(
        0.7 * all_values,
        0
       )
)
num_train

163804

In [39]:
x_data = np.array(character)
y_data = np.array(target)

In [40]:
x_train = x_data[:num_train]
x_test = x_data[num_train:]

y_train = y_data[:num_train]
y_test = y_data[num_train:]

## Etapa 3-1 - Fazer o treino com 70%

In [43]:
beta_one_train = calc_beta_one(x_train, y_train)
beta_one_train

np.float64(1.0511214344805064)

In [45]:
beta_zero_train = calc_beta_zero(
    mean_y=my_mean(y_train),
    beta_one=beta_one_train,
    mean_x=my_mean(x_train)
)
beta_zero_train

np.float64(0.6108120058729305)

In [52]:
result_train = beta_zero_train + beta_one_train * x_train
result_train

array([1.5568213 , 1.87215773, 1.87215773, ..., 4.28973703, 1.97726987,
       1.9247138 ])

## 3-2 - Fase de teste com os 30%

In [48]:
beta_one_test = calc_beta_one(x_test, y_test)
beta_one_test

np.float64(1.06496062047965)

In [49]:
beta_zero_test = calc_beta_zero(
    mean_y=my_mean(y_test),
    beta_one=beta_one_test,
    mean_x=my_mean(x_test)
)
beta_zero_test

np.float64(0.6846797943316196)

In [53]:
result_test = beta_zero_test + beta_one_test * x_test
result_test

array([1.69639238, 2.9210971 , 3.02759316, ..., 0.84442389, 2.0691286 ,
       2.0691286 ])

## Etapa 4 - Avaliação

In [54]:
def my_sqrt(value: float):

    return value ** (1/2)

In [55]:
def rmse(y_test: np.ndarray, y_pred: np.ndarray, y_num_values: int):
    """
    calculo dos resultados pela raiz media quadrada do erro
    """

    soma = 0

    for idx in range(len(y_test)):

        soma += ((y_test[idx] - y_pred[idx]) ** 2)



    return my_sqrt(soma * (1 / y_num_values))

In [56]:
result = rmse(y_test, result_test, len(y_test))
result

np.float64(1.9609075788870962)